$input-height: 54px;
$inner-padding: 0.5em;

.todo-form {
    min-height: $input-height;
}

.input-area {
    input,
    textarea {
        display: block;
        width: 100%;
        background: var(--bg);
    }

    .description-container,
    .action-container {
        @include hidden;
    }

    &:focus-within {
        position: unset;
        font-size: 2rem;

        &:before {
            content: '';
            background-color: rgba(0, 0, 0, 0.2);
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1;
            pointer-events: none;
        }

        .focus {
            display: flex;
            box-sizing: content-box;
            gap: 10px;
            padding: $inner-padding;
            background: var(--bg-app);
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 1000px;
            width: 100%;
            z-index: 5;
            border-radius: $border-radius;
            box-shadow: $box-shadow;
        }

        .description-container,
        .action-container {
            @include hidden(false);
        }

        .input-container {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .description {
            font-size: 1.5rem;
        }

        .action-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;

            .add {
                flex: 1;
            }
        }
    }
}
