/*
    CSS
*/
:root {
    --bg: #fff;
    --bg-app: rgba(173, 173, 173, 0.288);

    --color-title: #333;
}

/*
    SCSS
*/
$max-width: 500px;
$border-radius: 5px;
$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
